@model JobAppMS.ViewModels.JobRegVM

@{
    ViewData["Title"] = "Jobapply";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Crepersoon";
    Layout = "~/Views/Shared/_Mylayout.cshtml";

}


<hr />
<div class="row justify-content-sm-center modal modal-content modal-dialog-centered">

    <div class="col-md-6 align-self-center border border-success modal modal-content">
        <h4 class="align-content-center border font-weight-bold btn btn-success  ">Input Your Correct Information</h4>



        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-action="Jobapply">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" value="@UserManager.GetUserName(User)" readonly="readonly" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobListID" class="control-label"></label>
                    <select asp-for="JobListID" class="form-control" asp-items="@ViewBag.Position"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
    <a asp-action="Index" asp-controller="JobList" class="btn btn-success">Back to List</a>
</div>

<div>
       
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
